:root{
	--color-used: palegreen;
	--color-assigned: palegoldenrod;
	--color-reserved: palevioletred;
}

body{
	width: 900px;
}

table{
	border-collapse: collapse;
}
th, td{
	padding: 4px;

	border: 1px solid black;
}

thead th{
	background-color: slategray;
}
thead tr.sub th{
	background-color: lightslategray;
}
tbody tr.cat th{
	background-color: darkgray;
}
tbody th{
	background-color: lightgray;
}

.used, .assigned, .reserved{
	text-align: center;
}
td.used{ background-color: var(--color-used); }
span.used{ color: var(--color-used); }
td.assigned{ background-color: palegoldenrod; }
span.assigned{ color: var(--color-assigned); }
td.used::after, td.assigned::after{
	content: "✓";
}
td.reserved{ background-color: palevioletred; }
span.reserved{ color: var(--color-reserved); }
td.reserved::after{
	content: "𐄂";
}

td.continuity{
	border-inline: 1px dashed black;
}
td.leftcontinuity{
	border-left: 1px dashed black;
}
td.rightcontinuity{
	border-right: 1px dashed black;
}
th:has(+ .continuity), th:has(+ .leftcontinuity){
	border-right: none;
}

footer > p{
	margin-block: 0;

	font-size: 0.75rem;
}